/* start-main-file */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --transition: 0.3s ease;
  --basic: #1d1b1b;
  --Gray-light: #a2a2a2;
  --Gray-light-2: #c4c4c4;
  --Gray-light-3: #ececec;
  --Gray-4: #ececec;
  --Gray-middle: #808080;
  --Gray-high: #646363;
  --gray-900: #18181b;
  --red: #ec1a23;
  --main-button-hover: #b0181e;
  --white: #ffffff;
  --green: #2d9631;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: var(--basic);
}

@media (min-width: 992px) {
  .container {
  width: 1600px;
}
}

.container-fluid {
  padding-right: 60px;
  padding-left: 60px;
}

/* main components */
.sec-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: var(--basic);
}

a:focus {
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.main-btn {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
  border-radius: 5px;
  padding: 7px 20px;
  transition: var(--transition);
  font-size: 18px;
}

.main-btn:hover {
  background-color: var(--main-button-hover);
  border: 1px solid var(--main-button-hover);
  color: var(--white);
}

.secondary-btn {
  border: 1px solid var(--Gray-middle);
  color: var(--Gray-middle);
  font-size: 16px;
  transition: var(--transition);
  padding: 4px 20px;
  border-radius: 5px;
  background-color: var(--white);
}

.secondary-btn:hover {
  border: 1px solid var(--red);
  color: var(--red);
}

.top-sec-m {
  margin-top: 140px;
}

.f-sec-padding-top {
  padding-top: 145px;
}

/* colors */
.red {
  color: var(--red) !important;
}

.green {
  color: var(--green);
}

.gray-middle {
  color: var(--Gray-middle);
}

.gray-high {
  color: var(--Gray-high);
}

.basic {
  color: var(--basic);
}

.white-bg {
  background-color: var(--white);
}
/* end-colors */

/* font-weight */
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}

@media (max-width: 992px) {
  .top-sec-m {
    margin-top: 0;
  }
  /* .f-sec-padding-top {
    padding-top: 20px;
  } */
}

@media (max-width: 767px) {
  .main-btn,
  .secondary-btn {
    font-size: 14px;
    padding: 8px 18px;
  }
  
  /* .sec-padding {
     padding-top: 20px;
    padding-bottom: 20px;
  } */
}
/* header */
/* ----------------------------------------- */
header,
header nav {
  background-color: var(--white);
}
/* top-header */
.top-header {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
}

.top-header .mail img {
  height: 15px;
}

.top-header .right-side .lang-button-container {
  border-right: 1px solid var(--Gray-light);
  margin-right: 10px;
}

.top-header .right-side .lang-button-container img {
  height: 20px;
}

.top-header .right-side .language-button {
  color: var(--Gray-light);
}

.top-header .right-side .social a {
  padding: 0 1px;
}

.top-header .right-side .social img {
  height: 23px;
}

header hr {
  color: var(--Gray-light-3);
  margin: 0;
}
/* end-top-header */

/* nav-bar */
header nav .logo img {
  height: 50px;
  object-fit: contain;
}

header nav {
  padding: 17px 15px !important;
  box-shadow: rgb(153 153 153 / 13%) 1px 3px 4px 0px;
  z-index: 100;
  position: relative;
}

header nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li .nav-link {
  font-weight: 500;
  transition: var(--transition);
  color: var(--blue-primary);
  font-size: 20px;
}

header nav ul li a:hover,
header nav ul li.active a {
  color: var(--red) !important;
  text-decoration: none;
}

header nav label {
  width: 30px;
  height: 12px;
  cursor: pointer;
}

header nav .menu-btn img {
  max-width: 100%;
  cursor: pointer;
  display: none;
  transition: var(--transition);
}

header nav input[type="checkbox"] {
  display: none;
}

header nav .search-and-icons a {
  padding: 3px;
}

header nav .search-and-icons img {
  height: 25px;
  object-fit: contain;
}

.search-container form {
  position: relative;
}

.search-container form input[type="search"] {
  border: 1px solid var(--Gray-middle);
  padding: 6px 10px;
  border-radius: 5px;
  width: 170px;
}

.search-container form input[type="search"]::placeholder {
  font-size: 14px;
}

.search-container form input[type="search"]:focus {
  outline: none;
}

.search-container form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background: transparent;
  border: transparent;
  font-size: 16px;
  color: var(--basic);
  cursor: pointer;
  outline: 0;
}

/* header-responsive */
@media (max-width: 992px) {
  header nav {
    padding: 20px 15px !important;
  }

  header nav .menu-btn i {
    display: block;
    color: var(--red);
    font-size: 20px;
  }

  header nav ul {
    position: absolute;
    top: 90px;
    left: -100%;
    min-height: 93vh;
    width: 80%;
    text-align: center;
    display: block;
    transition: all 0.4s ease;
    z-index: 100;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 8%) 7px 7px 9px 0px;
    padding: 0;
    background-color: var(--white);
  }

  #click:checked ~ ul {
    left: 0;
  }

  header nav ul li {
    width: 96%;
    margin: 0;
    color: var(--red);
    border-bottom: 1px solid var(--Gray-light-2);
    padding-left: 25px;
  }

  header nav ul li .nav-link {
    width: 100%;
    margin-left: -100%;
    display: block;
    padding: 10px 0;
    text-align: start;
    font-size: 18px;
  }

  header nav ul li.active,
  header nav ul li:hover {
    background-color: var(--red);
    width: 100%;
  }

  header nav ul li.active .nav-link,
  header nav ul li:hover .nav-link {
    color: var(--white) !important;
  }

  #click:checked ~ ul li .nav-link {
    margin-left: 0px;
  }

  header nav .menu-btn img {
    display: block;
  }

  header nav .search-and-icons a {
    padding: 0;
    color: var(--red);
  }

  header .overlay {
    position: fixed;
    background-color: #00000063;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: var(--transition);
    z-index: -1;

  }

  header .overlay.display {
    opacity: 1;
    z-index: 1;
  }
}
/* end-navbar */
/* ----------------------------------------- */
/* end header */

/* search for mobile */
@media (max-width: 992px) {
  .mobile-search {
    padding-top: 145px;
    text-align: center;
  }

  .search-container form input[type="search"] {
    width: 100%;
  }
}

/* ------------------------------------------- */
/* main-card  */
.main-card {
  padding-bottom: 20px;
}

.main-card figure {
  border: 1px solid #ececec;
  padding: 10px;
  box-shadow: 0px 0px 6px 2px #80808033;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.main-card figure img {
  object-fit: contain;
  /* height: 250px; */
}

.main-card figure .btn-container {
  position: absolute;
  width: 100%;
  justify-content: center;
  left: 0;
  bottom: 23px;
}

.main-card figure .btn-container .main-btn,
.main-card figure .btn-container .secondary-btn {
  font-size: 14px;
  opacity: 0;
  transition: var(--transition);
}

.main-card figure .btn-container .main-btn {
  padding: 8px 11px;
  color: var(--white);
}

.main-card figure .btn-container .secondary-btn {
  padding: 8px 25px;
}

.main-card figure:hover .btn-container .main-btn,
.main-card figure:hover .btn-container .secondary-btn {
  opacity: 1;
}

.main-card h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 3px;
  color: var(--basic);
}

.main-card .price,
.main-card .availability {
  font-weight: 500;
}

.main-card .price {
  font-size: 18px;
}

.main-card .availability {
  font-size: 16px;
}

.main-card figure img:focus-visible {
  outline: none;
}

@media (max-width: 767px) {
  .main-card .price {
    font-size: 14px;
  }

  .main-card h3 {
    font-size: 16px;
  }

  .main-card .price,
  .main-card .availability {
    font-size: 14px;
  }
}
/* --------------------------------------- */
/* end-main-card */

/* ----------------------------------------- */
/* secondary card */
.secondary-card figure {
  border-radius: 50%;
  border: 1px solid var(--Gray-light-3);
  padding: 25px;
  text-align: center;
  transition: var(--transition);
  display: flex;
  justify-content: center;
}

.secondary-card figure img {
  object-fit: contain;
}

.secondary-card h3 {
  font-weight: 700;
  font-size: 20px;
  color: var(--basic);
  transition: var(--transition);
  text-decoration: none;
}

.secondary-card:hover h3 {
  color: var(--red);
}

.secondary-card:hover figure {
  box-shadow: 0px 0px 6px 2px #80808033;
}
/* end secondary card */

/* ----------------------------------- */
/* main-title */
.main-title h2 {
  color: var(--Gray-light-3);
  font-weight: 600;
  font-size: 90px;
}

.main-title h3 {
  font-weight: 600;
  margin-top: -57px;
  font-size: 50px;
}

@media (max-width: 767px) {
  .main-title h2 {
    font-size: 60px;
  }

  .main-title h3 {
    font-size: 30px;
    margin-top: -46px;
  }
}

/* ---------------------------------------- */
/* footer */
footer {
  background-color: var(--Gray-light-3);
  padding: 35px 0;
  margin-top: 30px;
}

footer .logo {
  max-height: 70px;
  margin-bottom: 15px;
}

footer p {
  padding: 0 10% 10px 0;
  font-size: 16px;
}

footer .social .icon-holder {
  border: 1px solid var(--basic);
  padding: 2px 4px;
  width: 33px;
  text-align: center;
  transition: var(--transition);
  border-radius: 4px;
}

footer .social .icon-holder i {
  font-size: 14px;
  color: var(--basic);
  transition: var(--transition);
}

footer .social .icon-holder:hover {
  border: 1px solid var(--red);
}

footer .social .icon-holder:hover i {
  color: var(--red);
}

footer .title {
  color: var(--red);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

footer a {
  color: var(--basic);
  transition: var(--transition);
  font-size: 16px;
  line-height: 27px;
}

footer a:hover {
  color: var(--red);
}

footer .line {
  height: 1px;
  width: 50%;
  margin: auto;
  background-color: var(--Gray-high);
}

footer .copy-right {
  font-size: 14px;
}

footer .copy-right a {
  color: var(--red);
  transition: var(--transition);
  font-weight: 500;
}

footer .copy-right a:hover {
  color: var(--basic);
}

@media (max-width: 767px) {
  footer p {
    padding: 0 30px;
    font-size: 14px;
  }

  footer .title {
    font-size: 16px;
    margin-top: 7px;
  }

  footer a {
    font-size: 14px;
  }

  footer .social .icon-holder {
    padding: 2px;
  }

  footer .copy-right {
    font-size: 12px;
  }
}

/* end-main-file */


/* hero-slider */
.hero-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 50vh;
}

.hero-slider .slide {
  padding: 25px 40px;
  color: var(--white);
}

.hero-slider .slide h2 {
  font-weight: 700;
  font-size: 50px;
}

.hero-slider .slide {
  font-size: 18px;
}

.hero-slider p {
  padding-right: 56%;
  padding-bottom: 10px;
  font-size: 18px;
}

.hero-slider .slick-next {
  right: 50px;
  top: 90%;
  z-index: 2;
}

.hero-slider .slick-prev {
  top: 90%;
  z-index: 2;
  left: 100%;
  /* right: 10px; Adjust the initial right position as needed */
  transition: left 3s;
}

.hero-slider .slick-prev.slick-prev-animate {
  left: 20px; /* Adjust the final left position as needed */
}

.hero-slider .slick-prev:before {
  content: "";
  background-image: url(../images/prev-arrow.png);
}

.hero-slider .slick-next:before {
  content: "";
  background-image: url(../images/next-arrow.png);
}

.hero-slider .slick-next:before,
.hero-slider .slick-prev:before {
  background-size: 55% auto;
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  transition: var(--transition);
}

.hero-slider .slick-slider img {
  width: 100%; /* Set the width to 100% of the container */
  height: auto; /* Maintain the aspect ratio */
  max-width: 500px; /* Set a maximum width if needed */
  max-height: 300px; /* Set a maximum height if needed */
}

.hero-slider .title-container {
  top: 15%;
  left: 9%;
  z-index: 1;
  max-width: 85%;
}

@media (max-width: 767px) {
  .hero-slider .slide {
    font-size: 14px;
    padding: 0;
  }
  .hero-slider .title-container {
    left: 9%;
  }
  .hero-slider p {
    padding-right: 32%;
    font-size: 16px;
  }
  .hero-slider h2 {
    font-size: 28px !important;
  }
  .hero-slider .slick-next:before,
  .hero-slider .slick-prev:before {
    background-size: 35% auto;
  }
  .hero-slider .slick-next {
    right: 40px;
    top: 86%;
  }
  .hero-slider .slick-prev {
    left: 20px;
    top: 86%;
  }
}
/* end-hero-slider */

/* nav-links*/
.nav-tabs > li.active > a {
  border: none;
  color: var(--red);
  border-bottom: 1px solid var(--red);
}

.nav-tabs li.active:focus-visible,
.nav-tabs > li.active > a {
  outline: none;
}

.nav-tabs > li {
  border-bottom: 1px solid transparent;
  margin: 0 5px;
  font-size: 18px;
}

.nav-tabs > li > a:hover {
  border: none;
  background: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover {
  border: none;
  color: var(--red);
  border-bottom: 1px solid var(--red);
  transition: var(--transition);
}

.nav-tabs {
  border: none;
}
.nav-tabs > li > a {
  color: var(--gray-middle);
  font-weight: 600;
}

.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
  flex-wrap: nowrap;
}

/* [5] */
.scroll::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  .categories .cards-holder .secondary-card h3 {
    font-size: 18px;
  }
}

/* download-app */
.download-app {
  background-color: var(--basic);
  color: var(--white);
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 60px;
}

.download-app button {
  background-color: transparent;
  border: 1px solid var(--white);
  font-size: 14px;
}

@media (max-width: 992px) {
  .download-app {
    padding: 14px;
  }
  .download-app button i {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .download-app {
    font-size: 14px;
  }
}

/* features */
.features-holder {
  margin-top: 50px;
  padding: 0 10%;
}
.features {
  border: 1px solid var(--Gray-light-2);
  padding: 30px 0;
  border-radius: 5px;
}

.features img {
  display: flex;
  margin: auto;
  max-height: 65px;
}

.features .line {
  height: 1px;
  width: 40%;
  background-color: var(--Gray-middle);
  margin: 10px auto;
}

.features .title {
  color: var(--Gray-high);
  font-weight: 500;
}

@media (max-width: 767px) {
  .features figure img {
    max-height: 50px;
  }
}

/* our-clients */
.our-clients img {
  max-height: 60px;
  filter: grayscale(1);
  transition: var(--transition);
}

.our-clients img:hover {
  filter: grayscale(0);
}
@media (max-width: 767px) {
  .our-clients img {
    max-height: 50px;
  }
}
/* end home page */
/* --------------------------------------------------------------- */

/* start product page */
.breadcrumb {
  background-color: transparent;
  color: var(--Gray-high);
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 767px) {
  .breadcrumb {
    display: none;
  }
}


/* filter */
.products  .filter-button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 18px;
}

.products  .filter-content {
  max-height: 0;
  padding: 10px;
   opacity: 0;
   visibility: hidden;
}

.products .visible {
  max-height: 500px; /* Adjust this value based on your content height */
 opacity: 1;
  visibility: visible;
}

.products hr {
      background-color: #a19898c2;
    height: 1.5px;
}

.products .pagination .page-link {
  font-size: 18px;
  color: var(--red);
  transition: var(--transition);
  padding: 9px 15px;
}

.products .pagination .page-link:focus {
  box-shadow: none;
}

.products .pagination .page-link:hover {
  background-color: var(--red);
  color: var(--white);
}
/* end-products */
/* --------------------------------------------------- */

/* product-details page */
.product-details .slick-next {
  z-index: 1;
  right: 7%;
}

.product-details .slick-prev {
  z-index: 1;
  left: 1%;
}

.product-details .slick-next:before {
  content: "";
  background-image: url(../images/next-arrow-icon.png);
}

.product-details .slick-prev:before {
  content: "";
  background-image: url(../images/next-arrow-icon.png);
   transform: scaleX(-1);
}

.product-details .slick-next:before,
.product-details .slick-prev:before {
  background-size: 50% auto;
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  transition: var(--transition);
}
/* product-details-price and info*/
.product-details .details .total-reviews span {
  color: #b0aeae;
  font-size: 20px;
}

.product-details .details .total-reviews span.checked {
  color: #F8C51B;
}

.product-details .details h5 {
  color: var(--gray-900);
  font-weight: 700;
  font-size: 30px;
}

.product-details .details .total-rev-num {
  color: var(--Gray-middle);
  font-weight: 600;
}

.product-details .details .price .title {
  font-size: 24px;
}

.product-details .details .price .old-price {
  font-size: 20px;
}
.product-details .details .price .saving-num {
  font-size: 22px;
}

.product-details .details .description {
  font-size: 18px;
}

.product-details .details .description a {
  text-decoration: underline;
  transition: var(--transition);
}

/* counter */
.product-details .details .counter-container {
    display: flex;
    align-items: center;
}

.product-details .details .counter-btn {
    display: flex;
}

.product-details .details .icon-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--red);
    color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    cursor: pointer;
}

.product-details .details .icon-btn span {
  font-size: 20px;
}

.product-details .details .counter-container .secondary-btn {
  background-color: #ECECEC4A;
}

.product-details .details .counter-container .secondary-btn:hover {
  border: 1px solid var(--Gray-light-2);
}

.product-details .details .counter-container .num {
  color: var(--basic);
  padding: 7px 10px 3px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .product-details .details h5 {
    font-size: 24px;
  }
  .product-details .details .total-reviews span, .product-details .details .price .old-price {
    font-size: 18px;
  }
  .product-details .details .price .title, .product-details .details .price .saving-num  {
     font-size: 20px;
  }
  .product-details .details .description {
    font-size: 16px;
  }
  .products .custom-select .select-header {
    padding: 7px 12px
  }
  .products .custom-select {
    font-size: 14px;
  }
  .products .custom-select .options li {
    padding: 10px;
  }
  .products .filter-button {
    font-size: 16px;
  }
}

/* end-product-details-price and info */

/* product-details-info */
.product-details .content-holder {
  background-color: var(--Gray-4);
}
.product-details .nav-container .content-holder h2 {
  color: var(--red);
  font-size: 22px;
  font-weight: 500;
}

.product-details .nav-container .content-holder p {
  font-size: 16px;
  padding-right: 5%;
}

.product-details .nav-container .content-holder .table td, .product-details .nav-container .content-holder .table th {
  text-align: center;
  font-size: 16px;
}
.product-details .nav-container .content-holder .table td {
 
   font-weight: 500;
}

.product-details .nav-container .content-holder .table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #C4161733;
}
.product-details .nav-container .content-holder .table-striped > tbody > tr:nth-of-type(even) > * {
  background-color: var(--Gray-4);
}

.table > :not(caption) > * > * {
  color: inherit;
}

@media (max-width: 767px) {
  .product-details .slick-next:before,
.product-details .slick-prev:before {
    background-size: 35% auto;
}

.product-details .nav-container .content-holder h2 {
  font-size: 18px;
}
.product-details .nav-container .content-holder p {
  font-size: 14px;
}

.product-details .nav-container .content-holder .table td, .product-details .nav-container .content-holder .table th {
  font-size: 14px;
}
}

/* reviews */
.product-details .reviews .review-container {
  border-bottom: 2px solid var(--Gray-light-2);
  padding: 20px 0;
}

.product-details .reviews .col-lg-6:nth-last-child(1) .review-container, .product-details .reviews .col-lg-6:nth-last-child(2) .review-container {
  border-bottom: none;
}

.product-details .reviews .review-container .user {
    font-weight: 700;
    padding-bottom: 10px;
}

.product-details .reviews .review-container .date {
  color: var(--Gray-high);
}

.product-details .reviews .col-lg-6:nth-child(even) {
  border-left: 1px solid var(--Gray-light-2);
  padding-left: 30px;
}

.product-details .reviews .col-lg-6:nth-child(odd) {
  padding-right: 30px;
}

.product-details .main-btn {
  padding: 7px 45px;
}

@media (max-width: 992px) {
  .product-details .reviews .col-lg-6:nth-child(even) {
    border: none;
        padding-left: 15px;
  }
  .product-details .reviews .col-lg-6:nth-child(odd) {
  padding-right: 15px;
  }
  .product-details .reviews .col-lg-6:nth-last-child(2) .review-container {
    border-bottom: 2px solid var(--Gray-light-2);
  }
}

/* modal */
.product-details .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.product-details .modal-content {
  background-color: #fefefed6;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 38%;
  top: 20%;
}

.product-details .close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.product-details .close:hover,
.product-details .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Rating Star Widgets Style */
.product-details .rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.product-details .rating-stars ul > li.star {
  display:inline-block;
  cursor: pointer;
}

/* Idle State of the stars */
.product-details .rating-stars ul > li.star > i.fa {
  font-size: 22px; /* Change the size of the stars */
  color:#b0aeae; /* Color on idle state */
}

/* Hover state of the stars */
.product-details .rating-stars ul > li.star.hover > i.fa {
  color:#F8C51B;
}

/* Selected state of the stars */
.product-details .rating-stars ul > li.star.selected > i.fa {
  color:#F8C51B;
}

.product-details .modal-content form textarea {
  resize: none;
  width: 100%;
  background-color: #fafafa;
  color: var(--basic);
  padding: 10px;
  border-radius: 5px;
} 

.product-details .modal-content form textarea:focus {
  outline: none;
}

.product-details .modal-content h3 {
  font-weight: 700;
  font-size: 30px;
}

.product-details .modal-content h4 {
  font-weight: 500;
}

@media (max-width: 992px) {
  .product-details .modal-content {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .product-details .modal-content {
    width: 80%;
  }
  .product-details .modal-content h3 {
    font-size: 24px;
  }
}
/* end-moadal */
/* -------------------------------------------- */

/* sub-categories */
.sub-categories h2 {
  font-size: 36px;
  padding-left: 15px;
} 

@media (max-width: 767px) {
  .sub-categories h2 {
    font-size: 30px;
  }
}

/* ------------------------------------------- */
/* contact-us */
.contact-us .title h2 {
  font-size: 36px;
}

.contact-us form input, .contact-us form textarea {
  border: 1px solid var(--Gray-light-2);
  background-color: var(--Gray-4);
  font-size: 16px;
}

.contact-us form input:focus , .contact-us form textarea:focus {
  box-shadow: none;
  background-color: var(--Gray-4);
  border: 1px solid var(--Gray-middle);
}

.contact-us form .textaria-container {
  padding: 0 14px;
}

.contact-us form textarea {
  resize: none;
}

.contact-us .side-info {
  background-color: var(--Gray-4);
  border-radius: 5px;
  padding: 25px;
}

.contact-us .side-info h3 {
  font-size: 28px;
  font-weight: 600;
      margin: 0;
}

.contact-us .side-info .info , .get-in-touch .contact .contact-item .info  {
  color: var(--Gray-high);
  font-size: 16px;
}

.contact-us .side-info .address-container {
  max-width: 180px;
}

.contact-us .side-info .title, .get-in-touch .contact .contact-item .title {
  font-size: 18px;
  margin-bottom: 3px;
}

.contact-us .side-info .icon {
  max-width: 40px;
}

.contact-us .side-info .icon img {
  object-fit: contain;
} 
/* end-side-info */

/* get-in-touch */

.get-in-touch .middle {
    border-left: 2px solid var(--basic);
    border-right: 2px solid var(--basic);
}

.get-in-touch .contact-item {
    padding: 0 15px;
}

.get-in-touch .contact .contact-item .icon {
  max-width: 30px;
}

.get-in-touch .contact .contact-item .icon img {
  object-fit: contain;
}
/* end-get-in-touch */

/* contact-map */
.map {
  margin-bottom: -35px;
}

.map iframe {
  width: 100%;
  filter: grayscale(100%) invert(92%) contrast(83%);
  color: var(--white);
}

/* contact-us-responsive */
@media (max-width: 767px) {
  .contact-us .side-info .icon {
    max-width: 30px;
  }
  .contact-us .side-info .icon img {
    object-fit: contain;
  } 
  .contact-us .title h2 {
    font-size: 30px;
  }
  .contact-us .side-info h3 {
    font-size: 24px;
  }
  .get-in-touch-landing img {
        height: 240px;
        object-fit: cover;
    }

    .get-in-touch .title h3 {
        font-size: 28px;
        color: var(--basic);
        text-transform: uppercase;
    }

    .get-in-touch .title h3 span {
        display: block;
        color: var(--green-p);
    }

    .get-in-touch .contact-item {
        height: auto;
        width: auto;
        text-align: start;
        margin-bottom: 15px;
    }
   
    .get-in-touch .middle {
        border: none;
        border-top: 1px solid var(--basic);
        border-bottom: 1px solid var(--basic);
        padding-bottom: 15px;
    }
    .get-in-touch .contact-item div {
        margin: 0;
    }

    .get-in-touch .contact-item .img-holder {
        width: 20px;
    }

     .get-in-touch .contact-item .img-holder img {
        width: 100%;
        object-fit: contain;
        height: auto;
    }

    .get-in-touch .contact-item div {
        font-size: 12px;
    }
}
/* end-contact-us-page */
/* -------------------------------------------------- */

/* About-us */
.about-us p {
  line-height: 24px;
}

.about-us h4 {
  font-size: 32px;
}

.about-us .facts-and-numbers .item {
    width: 17%;
}

.about-us .facts-and-numbers .item img {
    max-height: 100px;
}

.about-us .facts-and-numbers .item .des {
  font-size: 18px;
  margin-top: 10px;
}

@media (max-width: 992px) {
  .about-us .facts-and-numbers .item {
   width: 35%;
    padding-bottom: 20px;
}
}

@media (max-width: 767px) {
  .about-us h4 {
  font-size: 28px;
  }
  .about-us .facts-and-numbers .item .des {
  font-size: 14px;
  }
  .about-us .main-img img {
    max-height: 150px;
  }
}

/* shopping-cart */
.shopping-cart thead tr th {
  background-color: var(--Gray-light-3);
  text-align: center;
}

.shopping-cart table .delete-btn {
  border: none;
  background-color: transparent;
}

.shopping-cart table .delete-btn i {
   transition: var(--transition);
   font-size: 20px;
}

.shopping-cart table .delete-btn:hover i {
  color: var(--red);
}

.shopping-cart table .product-img {
  border: 1px solid var(--red);
  border-radius: 5px;
}

.shopping-cart table .product-name {
  font-size: 20px;
  font-weight: 700;
  padding-left: 30px;
  text-align: left;
}
/* counter */
.shopping-cart .counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart .counter-btn {
    display: flex;
}

.shopping-cart .icon-btn {
    width: 25px;
    height: 25px;
    color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    cursor: pointer;
}

.shopping-cart .icon-btn span {
  font-size: 20px;
}

.shopping-cart .counter-container .secondary-btn {
  background-color: #ECECEC4A;
  padding: 4px 8px;
}

.shopping-cart .counter-container .secondary-btn:hover {
  border: 1px solid var(--Gray-light-2);
}

.shopping-cart .counter-container .num {
  color: var(--basic);
  padding: 7px 10px 3px;
  font-weight: 500;
}
/* end-counter */

.shopping-cart table th {
  vertical-align: middle;
}

.shopping-cart .table>tbody>tr>td, .shopping-cart .table>tbody>tr>th{
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  min-width: 100px;
}

.shopping-cart .table-container {
  overflow-x: auto;
}

  @media (max-width: 992px) {
    /* Optional styles for small screens, adjust as needed */
    .shopping-cart .table-container {
      width: 100%;
    }
    .shopping-cart table .product-img {
      height: 65px;
    }
    .shopping-cart table .product-name {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 16px;
      min-width: 170px;
    }
    .shopping-cart table .delete-btn i {
      font-size: 16px;
    }
  }

/* total-price */
.total-price .data-holder {
     background-color: var(--Gray-light-2);
    padding: 3% 30%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.total-price .sub-total-holder {
  border-bottom: 1px solid var(--Gray-light);
}

.total-price .line {
  background-color: var(--Gray-light);
  height: 1.5px;
}

.total-price .total {
  font-size: 18px;
}

.total-price .check-out button {
      font-size: 16px;
}

  @media (max-width: 767px) {
    .total-price .data-holder {
      font-size: 14px;
      padding: 35px 65px;
    }
    .total-price .total {
      font-size: 16px;
    }
  }
/* end-shopping-cart */
/* --------------------------------------------------- */

/* start checkout */
.check-out .login {
  background-color: #C416171A;
  padding: 5px 20px;
  margin-bottom: 10px;
}

.check-out .login div {
  font-size: 20px;
}

.check-out .login a {
  font-size: 16px;
  text-decoration: underline;
  margin-left: 10px;
  transition: var(--transition);
}

.check-out .login a:hover {
  color: var(--basic) !important;
}

.check-out .form-check-input:checked, .check-out .form-check-input:focus {
    background-color: var(--red);
    border-color: var(--red);
}

.check-out .form-check input {
    box-shadow: none;
    cursor: pointer;
    border: 1px solid var(--red);
    font-size: 16px;
}

.check-out .form-check label {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.check-out .form-check-input:checked[type=radio] {
    border: 1px solid var(--red);
}

.check-out .form-container {
  border: 1px solid var(--Gray-light-3);
  padding: 30px 60px;
  border-radius: 10px;
}

.check-out .form-container h4 {
  font-size: 24px;
}

.check-out form label {
  font-size: 18px;
  font-weight: 500;
}

.check-out form input, .check-out  textarea {
  box-shadow: none;
  border: 1px solid var(--Gray-light-2);
  background-color: var(--Gray-4);
}

.check-out form textarea {
  resize: none;
}

.check-out form input:focus, .check-out form textarea:focus {
  border: 1px solid var(--Gray-middle);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.check-out .form-container .payment-method .payment-container {
  border: 1px solid var(--Gray-high);
  border-radius: 5px;
}

.check-out .form-container .payment-method .payment-container .options {
  padding: 6px 10px;
}

.check-out .form-container .payment-method a {
  text-decoration: underline;
}

.check-out .form-container .shopping-cart .item-container:not(:last-child) {
  border-bottom: 1px solid var(--Gray-light);
  padding-bottom: 17px;
  margin-bottom: 10px;
}

.check-out .shopping-cart .item-container .title {
  font-size: 18px;
}

.check-out .shopping-cart .item-container .title .price {
  font-size: 16px;
}

.check-out .shopping-cart .item-container button i {
  transition: var(--transition);
  font-size: 16px;
}

.check-out  .shopping-cart .item-container button i:hover {
  color: var(--red);
}

.check-out .shopping-cart .item-container .img-container {
  border: 1px solid var(--Gray-high);
  padding: 10px;
  border-radius: 5px;
}

.check-out .data-holder .title {
  font-size: 16px;
}

.check-out  .data-holder .price {
  font-size: 18px;
}

.check-out  .data-holder .total-label {
  font-size: 22px;
}

.check-out  .data-holder .total-num {
  font-size: 20px;
}
.check-out .data-holder .line {
  height: 1px;
  width: 100%;
  background-color: var(--Gray-light);
}

.hidden {
      display: none;
      opacity: 0;
      visibility: none;
      transition: opacity 1s ease-in-out;
    }

.visible {
  display: block;
  opacity: 1;
  visibility: visible;
}
  .check-out .shopping-cart {
    max-height: 300px;
    overflow-y: auto;
  }

.check-out .fixed-side-cart.fixed {
  position: fixed;
  top: 11%;
  padding-right: 5%;
}

/* scrollbar */
.check-out .shopping-cart::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.check-out .shopping-cart::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.check-out .shopping-cart::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.check-out .shopping-cart::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1200px) {
  .check-out .fixed-side-cart.fixed {
    position: static;
  }
}

@media (max-width: 767px) {
  .check-out .form-check label, .check-out form label, .check-out .data-holder .price  {
    font-size: 16px;
  }
  .check-out  h4 {
  font-size: 20px;
  }
  .check-out .data-holder .title , .check-out .login a{
  font-size: 14px;
  }
.check-out .data-holder .total-label, .check-out .login div, .check-out  .data-holder .total-num {
  font-size: 18px;
}

}
/* end-checkout */
/* ----------------------------------------- */
/* start-acconut-side navs */
.account .content-holder {
  border: 1px solid var(--Gray-light-3);
  padding: 30px 40px;
  border-radius: 10px;
  margin-left: 15px;
}

.account  .tabs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.account  .tabs ul li {
	display: block;
}

.tabs > ul li:not(:last-child) {
	border-bottom: 1px solid var(--Gray-light);
}

.account  .tabs ul li a,
.tabs > ul li a:visited, .account .log-out-btn {
	display: flex;
	border-bottom: none;
	text-decoration: none;
	color: var(--red);
	padding: 8px 15px;
	transition: all 0.2s ease-in-out;
	word-wrap: break-word;
}

 .account .log-out-btn {
  border: none;
  background: none;
  font-weight: 500;
  width: 100%;
 }

.account .tabs ul li a:hover,
.account .tabs ul li a:focus,
.account .tabs ul li a:active {
	border-bottom: none;
	outline: 0;
}

.account .tabs ul li a.active, .account .log-out-btn:hover {
	background-color: var(--red);
  color: var(--white);
}

.account .tabs ul li a:hover:not(.active) {
	background-color: var(--red);
  color: var(--white);
}


.account .tabs ul li a span.tab-label {
	display: block;
  font-size: 18px;
  font-weight: 500;
}

/* end-nav-tabs */

/* order-table */
.account .content-holder .order-table table thead th {
  font-size: 20px;
      text-wrap: nowrap;
      font-weight: 600;
}

.account .content-holder .order-table table tr {
  border-bottom: 2px solid #b9b2b275;
}

.account .content-holder .order-table table tbody tr:last-child {
  border-bottom: 1px solid transparent;
}

.account .content-holder .order-table .table>tbody>tr>td {
  padding: 10px 15px;
  font-size: 16px;
}

.account .content-holder .order-table table tbody tr, .account .content-holder .order-table table tbody th {
  font-size: 18px;
  color: var(--Gray-middle);
  font-weight: 500;
}

.account .content-holder .order-table a {
  transition: var(--transition);
}

.account .content-holder .order-table a:hover {
  color: var(--red);
}

.account .content-holder .order-table {
  overflow: auto;
}

.account .content-holder h2 {
    font-size: 34px;
}

@media (max-width: 992px) {
  .account .tab-head {
    margin-bottom: 20px;
  }
   .account .tabs ul li a > span.tab-label {
    font-size: 16px;
   }

   .account .content-holder h2 {
    font-size: 28px;
  }
  .account .content-holder {
    margin-left: 0;
  }
  .account .content-holder .order-table table thead th, .account .content-holder .order-table table tbody th {
    font-size: 18px;
  }
  .account .content-holder .order-table .table>tbody>tr>td {
    font-size: 14px;
  }
  .account-mb-padding {
    padding: 0;
  }
}

/* account ---> addresses */
.account .content-holder .addresses .address .top-holder {
  border-bottom: 1px solid var(--Gray-light);
  padding-bottom: 10px;
}
.account .content-holder .addresses .address .top-holder h3 {
  font-size: 24px;
}

.account .content-holder .addresses .address .top-holder .address-num {
  font-size: 20px;
}

.account .content-holder .addresses .address .remove-btn {
  transition: var(--transition);
    border: none;
    background: transparent;
    border-left: 1px solid var(--Gray-light);
    padding: 5px 10px;
    margin-left: 5px;
}

.account .content-holder .addresses .address .remove-btn:hover {
  color: red;
}
.account .content-holder .addresses .address a, .account .content-holder .addresses .address .remove-btn {
  color: var(--Gray-light);
  font-size: 18px;
}

.account .content-holder .addresses .address .top-holder {
    max-width: 70%;
  }

@media (max-width: 767px) {
  .account .content-holder .addresses .address .top-holder {
    width: 30%;
  }
  .account .content-holder .addresses .address .top-holder h3 {
    font-size: 24px;
}
.account .content-holder .addresses .address .top-holder h3 {
    font-size: 18px;
}
.account .content-holder .addresses .address .top-holder .address-num , .account .content-holder .addresses .address a, .account .content-holder .addresses .address .remove-btn{
    font-size: 16px;
}
}

/* account --> add-new-address */
.account .content-holder form label {
  font-weight: 500;
  font-size: 18px;
  text-wrap: nowrap;
}

.account .content-holder form input {
  background-color: var(--Gray-4);
  border: 1px solid var(--Gray-light-2);
  box-shadow: none;
  font-size: 16px;
  height: 40px;
}

.account .content-holder form input:focus {
  border: 1px solid var(--Gray-middle);
}

@media (max-width: 767px) {
  .account .content-holder form label {
    font-size: 16px;
  }
  .account .content-holder form input {
    font-size: 14px;
    height: 35px;
  }
}

/* error page */
.error h2 {
  font-size: 200px;
}
.error h3 {
  font-size: 40px;
  margin-top: -20px;
}

.error .links {
  margin-top: 60px;
}
.error .links .cont-shopping {
  border: 1px solid var(--red);
    color: var(--red);
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 18px;
  transition: var(--transition);
}

.error .links .cont-shopping:hover {
  border: 1px solid var(--basic);
  color: var(--basic);
}

@media (max-width: 767px) {
  .error h2 {
    font-size: 120px;
  }
  .error h3 {
    font-size: 30px;
  }
  .error .links .cont-shopping {
    font-size: 14px;
  }
}

/* succes-order */
.success h2 {
  font-size: 44px;
}
.success h3 {
  font-size: 28px;
  margin-top: 0;
}
.success h4 {
  color: var(--Gray-light);
  font-size: 20px;
}
.success .back-home {
  margin-top: 45px;
}

.success-reset h4 {
  padding: 0 15%;
}
@media (max-width: 767px) {
  .success img {
    height: 90px;
  }
  .success h2 {
    font-size: 30px;
  }
  .success h3 {
    font-size: 22px;
  }
  .success h4 {
    font-size: 18px;
  }
  .success .back-home {
    margin-top: 35px;
  }
  .success-reset h4 {
  padding: 0 5%;
  }
}
/* end-orders */
/* -------------------------------------------------------------- */

/* start login page */
.login-page .title-container p, .register-page .title-container p {
  color: var(--Gray-high);
  padding-top: 15px;
  font-size: 18px;
}

.login-page .forgot-password a {
  transition: var(--transition);
  font-weight: 500;
}

.login-page .forgot-password a:hover {
  color: var(--red);
}

.login-page .sign-up-link {
  color: var(--Gray-high);
}

.login-page .remember-me label {
  font-size: 14px;
}

.login-page .form-container {
  width: 50%;
}

@media (max-width: 992px) {
  .login-page .form-container {
    width: 100%;
  }

  .login-page .title-container p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .login-page .title-container img {
    height: 40px;
  }
}

/* order-details */
.account .order-details .product-img {
  border: 1px solid var(--red);
  padding: 10px;
  display: flex;
  justify-content: center;
}

.account .order-details .product-img img {
  max-height: 60px;
}

.account .order-details .data-holder .title {
  font-size: 16px;
}

.account .order-details .data-holder .price {
  font-size: 18px;
}

.account .order-details .data-holder .total-label, .account .order-details .data-holder .total-num {
  font-size: 20px;
}

@media (max-width: 767px) {
  .account .order-details .data-holder .title {
  font-size: 14px;
}
.account .order-details .data-holder .price {
  font-size: 16px;
}
.account .order-details .data-holder .total-label, .account .order-details .data-holder .total-num {
  font-size: 18px;
}
}
/* ----------------------------------------------------- */
/* nav */
.nav-tabs li {
  border: none;
  outline: none;
  margin: 0 10px;
}

.nav-tabs .nav-link {
  border: none;
}
 .nav-tabs li button {
  font-size: 22px;
  font-weight: 500;
  border: none;
  color: var(--black);
  padding-bottom: 10px;
  border-bottom: 1px solid transparent !important;
  box-shadow: none;
  outline: none;
}

.nav-link:focus-visible {
  box-shadow: none;
}

.nav-tabs li button:hover ,.nav-tabs .nav-link:hover,  .nav-tabs .nav-link.active {
     border: none;
    color: var(--red);
    border-bottom: 2px solid var(--red) !important;
    box-shadow: none;
    outline: none;
}


@media (max-width: 767px) {
  .nav-tabs li button {
    font-size: 18px;
  }
}

/* -------------------------------------------- */
/* styled-select */
.styled-select .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.styled-select .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px;
}

.styled-select .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
color: var(--basic);
border: 1px solid var(--Gray-light-2);
border-radius: 5px;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.styled-select .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: var(--basic) transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.styled-select .select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent var(--basic) transparent;
}

.styled-select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  color: var(--Gray-high);
  border: 1px solid var(--Gray-high);
}
.styled-select .select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
 .styled-select .select-options li:hover, .select-options li.is-selected {
  color: var(--gray-900);
  background: var(--Gray-4);
}
.styled-select .select-options li[rel="hide"] {
  display: none;
}
/* -------------------------------------------- */
form label.error {
  color: #e93b3b;
    font-size: 16px !important;
    margin-top: 3px;
}

form .form-control:focus  {
  box-shadow: none;
}
